<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Cadastro Pessoa</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.css" media="screen,projection" />
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />
<style type="text/css">
	table.striped>tbody>tr:nth-child(odd){
		background-color: rgba(158,154,154, 0.5);
	}
	form input[type="submit"]{
		color:white;
	}
</style>	
</head>
<body>
	<h3>Spring boot + Thymeleaf + Material Design Lite</h3>
	<h5>Cadastro de Pessoas</h5>
	<div class="row">
	
	<br/>
		<div th:each = "m : ${msg}">
			<span th:text = "${m}"></span>
		</div>
	<br/>
	
		<form action="salvarpessoa" id="formpessoa" method="post"
			th:object="${pessoaobj}" class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<label for="id" class="active">Id</label> <input type="text"
						name="id" id="id" class="validate" th:field="*{id}"
						readonly="readonly">
				</div>
				<div class="input-field col s6">
					<label for="nome" class="active">Nome</label> <input type="text"
						name="nome" id="nome" class="validate" th:field="*{nome}">
				</div>
			</div>

			<div class="row">
				<div class="input-field col s6">
					<label for="sobrenome" class="active">Sobrenome</label> <input
						type="text" name="sobrenome" id="sobrenome" class="validate"
						th:field="*{sobrenome}">
				</div>
				<div class="input-field col s6">
					<label for="idade" class="active">idade</label> <input type="text"
						name="idade" id="idade" th:field="*{idade}">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input class="waves-effect waves-light btn" type="submit"
						value="salvar">
					<button class="waves-effect waves-light btn"
						onclick="document.getElementById('formpessoa').reset();">Novo</button>
				</div>
			</div>
		</form>
	</div>
	<br />
	<br />
	<div class="row">
		<form action="pesquisarpessoa" method="post" class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<label for="nomepesquisa" class="active">Pesquisa por nome</label>
					<input type="text" id="nomepesquisa" class="validate"
						name="nomepesquisa"> <input
						class="waves-effect waves-light btn" type="submit" value="Buscar">
						<a class="waves-effect waves-light btn" href="/listapessoas">lista pessoas</a>
				</div>
			</div>
		</form>
	</div>
	<br />
	<br />
	<table class="striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>Sobrenome</th>
			<th>Idade</th>
			<th>Editar</th>
			<th>Excluir</th>
		</tr>
	</thead>
		<tr th:each="pessoa : ${pessoas}">
			<td th:text="${pessoa.id}"></td>
			<td><a th:href="@{/telefones/{idpessoa}(idpessoa=${pessoa.id})}"><span th:text="${pessoa.nome}"></span></a></td>
			<td th:text="${pessoa.sobrenome}"></td>
			<td th:text="${pessoa.idade}"></td>
			<td><a
				th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a></td>
			<td><a
				th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Excluir</a></td>
		</tr>
	</table>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.js"></script>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>